:root {
  font-size: 14px;
  box-sizing: border-box;
  --sans-font: "SWSans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;
  --mono-font: "SWMono", "SF Mono", "Segoe UI Mono", "Roboto Mono", "Ubuntu Mono", Menlo, Courier, monospace;;
}

* {
  box-sizing: inherit;
  font-family: var(--sans-font);
}

input[type=text] {
  font-family: var(--mono-font);
}

body {
  width: 100vw;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'SWSans';
  font-style: normal;
  font-weight: normal;
  src: local("SWSans"), url("./assets/fonts/sans-generic-book.otf") format("opentype");
}

@font-face {
  font-family: 'SWSans';
  font-style: italic;
  font-weight: normal;
  src: local("SWSans"), url("./assets/fonts/sans-generic-book-italic.otf") format("opentype");
}

@font-face {
  font-family: 'SWSans';
  font-style: normal;
  font-weight: bold;
  src: local("SWSans"), url("./assets/fonts/sans-generic-bold.otf") format("opentype");
}

@font-face {
  font-family: 'SWSans';
  font-style: italic;
  font-weight: bold;
  src: local("SWSans"), url("./assets/fonts/sans-generic-bold-italic.otf") format("opentype");
}

@font-face {
  font-family: 'SWMono';
  font-style: normal;
  font-weight: normal;
  src: local("SWMono"), url("./assets/fonts/mono-generic-Regular.otf") format("opentype");
}